.box {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width:768px) {
    .box {
        display: flex;
     flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}block

.all {
    border-radius: 10px;
    border: 2px solid gray;
    margin: 2rem;
    padding: 1rem;
    color: aliceblue;
    background-color: black;

}

.all h1 {
    margin-top: 3rem;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    
}

.box-1 {
    border-radius: 20px;
    border: 5px solid aqua;
    margin: 2rem;
    padding: 1rem;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(255, 102, 0) 90%, pink 0);
}

.icon {
    height: 50px;
    width: 50px;
}

.progress-bar-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(78, 101, 233) 75%, pink 0);
}

.progress-bar-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(yellow 80%, pink 0);
}

.progress-bar-4 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(126, 25, 146) 90%, pink 0);
}

.progress-bar-5 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(4, 12, 37) 70%, pink 0);
}
.progress-bar-6 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(55, 209, 81) 50%, pink 0);
}