*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.home{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    padding: 1rem;
   
    
}.home-contect h4 h2{
    font-family: 'Roboto', sans-serif;
}
.home-contect span{
   color: black;
   font-family: 'Roboto', sans-serif;
}
.home-img img{
   width: 80%;
}
.logo a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: white;
    border: .2rem solid red;
    border-radius: 50%;
    font-size: 2rem;
    margin: 1rem 1.5rem 1rem 0;
    transition: .5s ease;
}
.logo a:hover{
    border: .2rem solid white;
    background: red;
    color: var(--second-color);
    box-shadow: 0 0 1rem var(--main-color);
}



.home .text {
    align-items: center;
    width: 60%;
    margin-top: 8px;
    margin-bottom: 10px;


}


@media(max-width: 768px){
    .home{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .home.card-1 h1{
        margin-top: 2rem;
    }
    .home .text{
        width: 90%;
    }.home .home-img{
        width: 70%;
    }
}
